@import "../Post/index.scss";

.editor {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.5rem;
  background-color: var(--white);

  &__post[comfortable] {
    //grid-template-columns: 4.5rem auto;
    //grid-template-rows: 4.5rem auto auto auto;
    //padding: 0;

    profile-image {
      //padding: 1rem 0 0 1.5rem;
    }

    textarea.content {
      border: 1px solid var(--slate-100);
      border-radius: 4px;
      outline: none;
      resize: none;
      padding: .5rem;
      cursor: pointer;
      font-size: var(--text-base);

      &::placeholder {
        color: var(--slate-200);
      }

      &:hover {
        border: 1px solid var(--slate-200);
        background-color: var(--slate-50);
      }

      &:active,
      &:focus-within {
        border: 1px solid var(--slate-400);
        background-color: var(--slate-50);
        cursor: text;
      }


      &:disabled {
        background-color: var(--white);
        border: 1px solid var(--slate-50);
        cursor: default;

        &::placeholder {
          color: var(--slate-100);
        }

        &:hover,
        &:active,
        &:focus-within {
          background-color: var(--white);
          border: 1px solid var(--slate-50);
        }
      }
    }
  }

  .ref {
    display: block;
    position: relative;

    &--hidden {
      display: none;
    }

    &__text {
      &--cancel {
        display: none;
      }
      &--reply {
        display: block;
      }
    }


    &__desc {
      transition: width 200ms ease-in-out, padding 200ms ease-in-out;
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      cursor: pointer;
      font-size: var(--text-sm);
      margin-left: 4rem;
      color: var(--blue-500);
      font-weight: var(--font-medium);

      .xmark {
        width: 0;
        margin-right: 0.25rem;
        margin-top: 0.125rem;
        flex: 0 0 auto;
        border-radius: 1.25rem;
        background: var(--red-100);
        height: 1rem;
        padding: 0.125rem 0;
      }

      &:hover {
        color: var(--red-500);

        .xmark {
          width: 0.75rem;
          padding: 0.125rem 0.25rem;
        }

        .ref__text {
          &--reply {
            display: none;
          }
          &--cancel {
            display: block;
          }
        }
      }
    }

    &__connector {
      width: 2px;
      background: var(--slate-100);
      height: auto;
      position: absolute;
      top: 4rem;
      left: calc(2.25rem - 1px);
      bottom: -1rem;
    }
  }
}