@import "../App/index.scss";

.posts {
  gap: 0;

  &__bottom {
    flex: 1 0 auto;
  }

  post-card {
    --cursor: default;

    &:hover {
      box-shadow: none;
      --background: var(--white);
    }

    &:active {
      box-shadow: none;
      --background: var(--white);
    }
  }
}

.replies,
.parents {
  display: flex;
  flex-flow: column nowrap;
  flex: 0 0 auto;

  post-card {
    flex: 0 0 auto;
    --cursor: pointer;

    &:hover {
      --background: var(--slate-25);
      z-index: 200;
    }

    &:active {
      --background: var(--slate-25);
      z-index: 200;
    }
  }
}

.replies {
  margin-top: .25rem;
  gap: 0.25rem;
}
