.post {
  display: var(--display, grid);
  background: var(--background, var(--white));
  grid-template-columns: var(--grid-template-columns, 3rem auto);
  grid-template-rows: var(--grid-template-rows, auto auto auto);
  padding: var(--padding, 1rem);
  padding-top: var(--padding-top, 1rem);
  padding-bottom: var(--padding-bottom, 1rem);
  margin: var(--margin, 0);
  font-size: var(--font-size, var(--text-base));
  border: var(--border, none);
  cursor: var(--cursor, default);
  box-shadow: var(--box-shadow);

  &[hideactions] {
    .bottom {
      display: none;
    }
  }

  &[parent] {
    .content {
      position: relative;
      &::before {
        content: '';
        display: block;
        width: 2px;
        background: var(--slate-100);
        height: calc(100% + 1.25rem);
        position: absolute;
        top: 1.75rem;
        left: calc(-1.75rem - 1px);
        bottom: -1rem;
      }
    }
  }

  &[comfortable] {
    --grid-template-rows: auto auto auto auto;

    profile-image {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
    }

    .top {
      display: grid;
      grid-template-columns: min-content auto;
      grid-template-rows: auto auto;
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      .creator {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
      }

      .userId {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
      }

      .createAt-top {
        display: none;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 2;
      }
    }

    .bottom {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: flex-start;
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 5;
      grid-row-end: 6;
      gap: 1rem;
      padding-top: .5rem;
      border-top: 1px solid var(--slate-50);

      .comment-btn,
      .like-btn,
      .repost-btn {
        margin-left: 0;
        --font-size: var(--text-md);
        --padding: .25rem .375rem;

        img {
          width: var(--text-md);
          height: var(--text-md);
        }
      }
    }

    .createAt-bottom {
      font-weight: var(--font-light);
      color: var(--slate-300);
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      margin-bottom: .5rem;
    }

    .max-height {
      max-height: fit-content;
      mask-image: none;
    }

    .content {
      grid-column-start: 1;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      background-color: var(--white);
      font-family: var(--font-sans);
      color: var(--slate-800);
      font-weight: var(--font-normal);
      font-size: var(--text-md);
      margin: .5rem 0;
    }
  }
}

.hidden {
  display: none;
}

.max-height {
  max-height: 24rem;
  mask-image: linear-gradient(180deg, var(--slate-500),transparent);
}

.reposted {
  grid-column-start: 2;
  grid-column-end: 3;
  color: var(--slate-300);
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  padding-bottom: .25rem;
  height: calc(1.3125 * var(--text-sm));
}

.reposted-icon {
  width: var(--text-sm);
  align-self: center;
  justify-self: flex-end;
  margin-right: 0.5rem;
  height: calc(1.3125 * var(--text-sm));
}

profile-image {
  --display: inline-block;
  --width: 2.5rem;
  --height: 2.5rem;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  --margin: 0 .5rem 0 0;
}

.top {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  gap: .25rem;

  .creator {
    font-weight: var(--font-semibold);
  }

  .userId {
    color: var(--slate-300);
    font-weight: var(--font-light);
  }

  .createAt-top {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    color: var(--slate-300);
    gap: 0.25rem;
    font-weight: var(--font-light);
  }
}

.content {
  display: flex;
  flex-flow: row nowrap;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  padding: .5rem 0;
  font-weight: var(--font-normal);
  color: var(--slate-900);
  line-height: 1.3125;
  white-space: pre-wrap;
  word-break: break-all;
}

.bottom {
  display: var(--bottom-display, flex);
  flex-flow: row nowrap;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  gap: .75rem;

  .comment-btn,
  .like-btn,
  .repost-btn {
    transition:
      opacity 200ms ease-in-out,
      color 200ms ease-in-out,
      background-color 200ms ease-in-out;
    margin-left: -.5rem;
    --background-color: transparent;
    --border: 1px solid transparent;
    --gap: .5rem;
    --font-family: var(--font-mono);
    --font-size: var(--text-base);
    --padding: .25rem .375rem;
    --border-radius: .25rem;
    --opacity: .6;
    --color: var(--slate-400);

    img {
      width: var(--text-base);
      height: var(--text-base);
      transition:
              filter 200ms ease-in-out;
    }

    &:hover,
    &:active,
    &[active=true] {
      img {
        filter: grayscale(0%) brightness(100%);
      }
    }

    &:hover {
      --opacity: .9;
    }

    &:active {
      --opacity: 1;
    }

    &[active=true] {
      --opacity: 1;
    }

    &[disabled=true],
    &[disabled=true]:hover,
    &[disabled=true]:active {
      --opacity: .3;
      --background-color: transparent;
      --color: var(--slate-400);
    }
  }
}

.comment-btn {
  img {
    filter: grayscale(100%) brightness(140%);
  }

  &:hover {
    --background-color: var(--blue-100);
    --color: var(--blue-500);
  }

  &:active {
    --background-color: var(--blue-200);
    --color: var(--blue-500);
  }

  &[active=true] {
    --color: var(--blue-500);
  }

  &[disabled=true],
  &[disabled=true]:hover,
  &[disabled=true]:active {
    img {
      filter: grayscale(100%) brightness(140%);
    }
  }
}

.repost-btn {
  img {
    filter: grayscale(100%) brightness(100%);
  }

  &:hover {
    --background-color: var(--green-100);
    --color: var(--green-500);
  }

  &:active {
    --background-color: var(--green-200);
    --color: var(--green-500);
  }

  &[active=true]{
    --color: var(--green-500);
  }

  &[disabled=true],
  &[disabled=true]:hover,
  &[disabled=true]:active {
    img {
      filter: grayscale(100%) brightness(100%);
    }
  }
}

.like-btn {
  img {
    filter: grayscale(100%) brightness(140%);
  }

  &:hover {
    --background-color: var(--red-100);
    --color: var(--red-500);
  }

  &:active {
    --background-color: var(--red-200);
    --color: var(--red-500);
  }

  &[active=true] {
    --color: var(--red-500);
  }

  &[disabled=true],
  &[disabled=true]:hover,
  &[disabled=true]:active {
    img {
      filter: grayscale(100%) brightness(140%);
    }
  }
}
