img {
  display: var(--display, block);
  width: var(--width, 3rem);
  height: var(--height, 3rem);
  border: var(--border, none);
  border-radius: var(--border-radius, 50%);
  padding: var(--padding, 0);
  margin: var(--margin, 0);
  background-color: var(--background-color, var(--slate-50));
  box-shadow: var(--box-shadow);
  cursor: var(--cursor);
}