@import "../Post/index.scss";

.left-sidebar {
  display: flex;
  flex-flow: column nowrap;
  width: 20rem;
  flex: 1 0 auto;
  gap: .25rem;

  c-button {
    --width: 100%;
  }

  .editor {
    .post {
      grid-template-columns: auto auto;
      grid-template-rows: auto auto auto auto;
      padding: 0;

      profile-image {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 2;
        --margin: 0 .5rem .5rem 0;
        --box-shadow: var(--shadow);
        padding: 1rem 0 0 1rem;
      }

      .top {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        padding: 0 1rem;
      }

      .bottom {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        padding: 0 1rem 1rem;
      }

      textarea.content {
        transition: background-color 100ms ease-in-out, border 100ms ease-in-out;
        outline: none;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        background-color: var(--white);
        font-size: var(--text-sm);
        font-family: var(--font-sans);
        margin: 0.5rem;
        border: 1px solid var(--slate-100);
        border-radius: 4px;
        resize: none;
        padding: .5rem;
        cursor: pointer;
        color: var(--slate-800);
        font-weight: var(--font-normal);

        &::placeholder {
          color: var(--slate-200);
        }

        &:hover {
          border: 1px solid var(--slate-200);
          background-color: var(--slate-50);
        }

        &:active,
        &:focus-within {
          border: 1px solid var(--slate-400);
          background-color: var(--slate-50);
          cursor: text;
        }
      }
    }
  }
}